.banner {
  color: rgb(250,250,250);
  padding: 120px 0;
  background-size: cover;
  margin-bottom: 48px;
}

.banner p {
  margin-bottom: 48px;
}

.banner h1, .banner p {
  text-shadow: 0 0 8px rgb(0 0 0 / 70%);
}