.card-category {
  height: 400px;
  border-radius: 4px;
  color: rgb(250,250,250);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 8px rgb(0 0 0 / 24%);
  font-size: 32px;
}

.card-product {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 8px;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.card-product img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 16px;
}

.card-product h2, .card-product p {
  margin: 0;
}

.card-trip {
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  margin-bottom: 32px;
  border-radius: 4px;
}

.card-trip img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-trip-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  padding: 16px;
}

.card-trip h2, .card-trip p {
  margin: 0;
}
